<h1>Bienvenido</h1>
<p>Bienvenido a MovieFeed</p>
<p>Subí tu crítica de las películas que vez y mirá las críticas de los demás</p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Iniciar Sesión Con Google</a>
{{/if}}